.item1 {
    border-radius: 20px;
    padding: 21px;
    background-color: #34495E;
    
}
.item2 {
    border-radius: 20px;
    padding: 21px;
    background-color: #34495E;
    
}
div {
    color: aliceblue;
}